
* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
  overflow: hidden;

  color: #D8D9DE;
/* FOOTAGE
  background-image: url("https://i.pinimg.com/originals/50/00/81/5000819681c80bc1550cff36830f8afb.jpg");
  background-repeat: no-repeat;
  background-size: 100%; 
*/
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


.container { 
  /* FOOTAGE
  transform: scale(0.8);
*/
  transition: filter 0.2s linear;
}

.page-header,
.header__right,
.header__left {
  list-style: none;
  
  padding: 0;
  margin: 0;

  background: #423F5A;
  width: 100%;
  height: 8.5vh;
  display: flex;

  border-bottom: 2px solid #56546C;
  /* FOOTAGE
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  */
  /*min-height: 70px;*/
}

.header__right {
  justify-content: flex-end;
}

@media (max-width: 900px) {
  .header__right {
    display: none;
  }

  .groups {
    width: 100%;
  }
}

.page-header {
  /* FOOTAGE
  border-top-left-radius: 100px;
  */

  justify-content: space-between;
}

.--header-block { 
  border-right: 2px solid #56546C;
  text-align: center;
  line-height: 8.3vh;
}

.--header-block:last-of-type:not(.header__left .--header-block:last-child) {
  border-right: none;
}

.expander__container {
  min-width: 70px;
  width: 5vw;
}

.header__logo {
  min-width: 115px;
  width: 17.2vw;
}

.header__logo-text {
  font-size: 1.7vw;
  color: #FEFEFC;
}

.header__logo-text::before {
  content: "Long-Term Storage";
}

.header__search {
  text-align: start;
  padding: 0 1vw;

  min-width: 200px;
  width: 20vw;

  position: relative;
}

@media (max-width: 900px) {
  .header__logo-text {
    font-size: 5vw;
  }

  .header__logo-text::before {
    content: "L-T-S";
  }

  .header__search {
    width: 100%;
    border-right: none;
  }
}


.header__search-input {
  color: #878697;
 
  font-size: 1vw;

  border:none;
  background: rgba(0, 0, 0, 0);
  min-width: 200px;
  width: 19vw;
}


.header__search-input:focus {
  color: #878697;
  width: 12vw;
  border:none;
  background: none;
  outline: none;
}

.header__search-icon {
  min-width: 12px;
  width: 1vw;

  position: absolute;
  top: 3.2vh;
  right: 1vw;
}

@media (max-width: 900px) {
  .header__search-input {
    width: 100%;
    text-align: center;
    font-size: 4vw;
  }

  .header__search-input:focus {
    width: 100%;
  }

  .header__search-icon {
    display: none;
  }
}

.header__notifications {
  min-width: 50px;
  width: 4vw;
  position: relative;
  border-left: 2px solid #56546C;
}

.header__notifications-icon {
  background: url("images/bell.svg");
  display: inline-block;
  
  min-height: 12px;
  min-width: 12px;
  width: 1.3vw;
  height: 1.3vw;

  vertical-align: middle;
  position: relative;
}

.header__notifications-count {
  width: 1vw;
  height: 1.8vh;

  background-color: #FD0075;
  border-radius: 50%;

  line-height: 1.6vh;

  text-align: center;
  font-size: 1vw;
  color: #fff;

  position: absolute;
  top: -0.5vw;
  right: -0.2vw;
}

.header__profile {
  min-width: 30px;
}

.header__login-icon {
  padding: 0 30px;
  vertical-align:middle;
  min-height: 12px;
  min-width: 12px;
  height: 2vw;
  width: 2vw;
}

.header__profile-avatar {
  vertical-align: middle;
  width: 6vh;
  position: relative;
  top:-2px;
  margin-right: 5px;
}

.header__profile-name {
  font-size: 1.2vw;
  margin-left: 15px;
  color: #D8D9DE;
}

/*.header__profile-name::before {
  position: relative;
  content: "\25BC";
  right: 5px;
  top: -2px;
  font-size: 0.6em;
}*/

.login-screen {
  display: none;
  position: absolute;
  right: 0;
  width: 100vw;
  height: 100vh;
  z-index: 20;

  box-sizing: border-box;
}

.login-screen__wrapper {
  position: absolute;
  margin: auto auto;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-screen__form {
  width: 20vw;
  opacity: 0;
  white-space: nowrap;
}

.login-screen__input-container {
  position: relative;
  text-align: center;
  margin-bottom: 40px;
}

.login-screen__input-container:last-of-type {
  margin-bottom: 30px;
}

.login-screen__input {
  color: #FEFEFC;
  width: 20vw;
  outline: none;
  border: none;
  background: none;
  text-align: center;
  font-size: 18px;
  border-bottom: 2px solid gray;
}

.login-screen__input:focus {

}

.login-screen__input::placeholder {
  color: transparent;
}

.login-screen__input:focus + .login-screen__input-label,
.login-screen__input:not(:placeholder-shown) + .login-screen__input-label {
  top: -20px;
  cursor: default;
}


.login-screen__input-label {
  color: #DAE38E;
  position: absolute;
  right: 0;
  left: 0;
  top:0;
  bottom: 0;
  margin: 0 auto;
  transition: all 0.3s ease;
}

.login-screen__button {
  width: 50%;
  height: 35px;
  background-color: #6D6AB4;
  color: #E0E0E0;

  border: 0;
  border-radius: 5px;
}

.page-wrapper {
  display: flex;
}

.groups {
  height: 91.5vh;
  background: #423F5A;

  display: inline-block;
  flex-shrink: 0;

  transition: width 0.5s ease;

  overflow-y: auto;

/* FOOTAGE
  border-bottom-left-radius: 10px;
*/
}

.groups > * {
  transition: transform 1s ease;
}

.expander__checkbox {
  display: none;
}

.expander__button {
  display: block;
  cursor: pointer;
  /*background-image: url("images/menu.svg");
  background-repeat: no-repeat;*/
  min-width: 40px;
  width: 3vw;
  height: 5vh;

  position: absolute;
  left: 1vw;
  top: 2.5vh;

  z-index: 10;
}

@media (max-width: 900px) {
  .expander__button {
    width: 45px;
    left: 10px;
  }
}

.expander__top-line,
.expander__middle-line,
.expander__bottom-line {
  height: 0.7vh;
  width: 100%;
  background-color: #D8D9DE;
  display: block;

  position: absolute;

  transition: 0.5s ease transform, 0.5s ease top;

  border-radius: 5px;
}

@media (min-width: 1200px) {
  
}

.expander__top-line,
.expander__middle-line {
  top: 1.5vh;
  transform: rotate(45deg);
}

.expander__bottom-line {
  top: 1.5vh;
  transform: rotate(-45deg);
}

.expander__checkbox:not(:checked) ~ .expander__button > .expander__top-line {
  top: 0vh;
  transform: rotate(0deg);
}

.expander__checkbox:not(:checked) ~ .expander__button > .expander__middle-line {
  top: 1.5vh;
  transform: rotate(0deg);
}

.expander__checkbox:not(:checked) ~ .expander__button > .expander__bottom-line {
  top: 3vh;
  transform: rotate(0deg);
}

.expander__checkbox:checked ~ .groups {
  width: 17.2vw;
  border-right: 2px solid #56546C;
}

.expander__checkbox:not(:checked) ~ .groups > * {
  transform: translateX(-30vw);
}

.expander__checkbox:not(:checked) ~ .groups {
  width: 0;
}

@media (max-width: 900px) {
  .expander__checkbox:checked ~ .groups {
    width: 100%;
    border-right: none;
  }
}

.groups__item {
  cursor: pointer;

  box-sizing: border-box;

  display: inline-block;
  width: 100%;
  height: 8.5vh;
  text-align: center;
  line-height: 8vh;

  position: relative;

  border-bottom: 2px solid #56546C;

  white-space: nowrap;
}

.groups__item-icon {
  height: 3.6vh;
  position: absolute;
  top: 25%;
  left: 20%;

  filter: invert(99%) sepia(100%) saturate(0%) hue-rotate(229deg) brightness(104%) contrast(100%);
}

.groups__add {
  height: 3vh;
  filter: invert(99%) sepia(100%) saturate(0%) hue-rotate(229deg) brightness(104%) contrast(100%);
  vertical-align: middle;

  margin-right: 5px;

  position: relative;
  top: -0.3vh;
  
} 

.groups__add + span {
  font-size: 1.5vw;
  color: #DAE38E;

  pointer-events: none;
}

.groups__item-name {
  font-size: 1.3vw;
  pointer-events: none;
}


@media (max-width: 900px) {
  .groups__item-name {
    font-size: 5vw;
    pointer-events: none;
  }

  .groups__item:last-child {
    display: none;
  }
}


.--selected-group {
  border-width: 4px;
  border-style: solid;
  border-image: 
    linear-gradient(
      to right, 
      #ff0080, 
      rgba(0, 0, 0, 0)
    ) 1 100%;
  border-right: none;

  background-color: #343247;
  color: #ff0080;
  line-height: 7.2vh;

  padding-bottom: 2px;
}

/* fix border under selected item */
.--selected-group + .groups__item {
  border-top: 2px solid #56546C;
}

.--selected-group .groups__item-icon {
  filter: invert(12%) sepia(72%) saturate(7201%) hue-rotate(324deg) brightness(109%) contrast(104%);
}

.content {
  background-color: #3d3b53;
  width: 100%;
  height: 91.5vh;
  float: right;

  position: relative;
  overflow-x: auto;
  overflow-y: auto;
/* FOOTAGE
  border-bottom-right-radius: 10px;
*/
}

@keyframes load-frame {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 100;
  }
}

.about__body {
  padding: 10vh 10vw;
  position: relative;

  animation: load-frame 1s ease-out;
}

.about__wrapper-left{
  float: left;
  clear: both;
}

.about__welcome {
  font-weight: 700;
  font-size: 2vw;
}

.about__subscription {
  color: #878697;
  font-size: 1.2vw;
}

.about__recent {
  margin-top: 5vh;
  font-weight: 700;
  font-size: 2vw;
}

.links {
  float: right;
  margin-right: 2vw;
}

.links_desc {
  font-weight: 700;
  font-size: 2vw;
}

.--default-list {
  margin-top: 2vh;
  list-style: none;
}

.--default-list li {
  font-size: 1.2vw;

  margin-bottom: 1.5vh;
}

.--default-list li a {
  text-decoration: none;
  color: #DAE38E;
  background: no-repeat 0 100%;
  background-image: linear-gradient(#878697, #878697);
  background-size: 0% 0.3vh;
  padding-bottom: 2px;

  transition: background-size 0.5s ease;
}

.--default-list li:hover a {
  background-size: 100% 0.3vh;
}

.--default-list li::before {
  content: "— ";

  color: #878697;
}

.--task-accepted {
  color: #7a897b;
}

.--task-cancelled {
  color: #E6B59A;
}


/* ITEM-TABLE */


.table__wrapper {
  height: 100%;
  width: 100%;

  /* display: flex; */
  justify-content: center;
  align-items: flex-start;

  /* padding-top: 10vh; */

  animation: load-frame 0.5s ease-out;
}

.item-table {
  border-collapse: separate;
  border-spacing: 0;
  text-align: center
}

table {
  margin: 5px;
  border: 1px #878697 solid;
}

table th,
table td {
  border: 1px #878697 solid;
}

.item-table__column {
  padding: 5px;
  min-width: 165px;
}

tbody th {
  position: sticky;
  left: 0;
  z-index: 1;
  background: #56546C;
}

tbody tr:first-of-type {
  background: #56546C;
  position: sticky;
  z-index: 2;
  left: 0;
  top: 0;
}

.item-table__user {
  padding: 5px 10px;
}

.table__upload {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  transition: all 0.1s ease;

  position: fixed;
  bottom: 2vh;
  right: 1.5vw;
  width: 3.4vw;
  height: 3.4vw;
  border-radius: 2vw;
  background-color: #423F5A;
  font-size: 1.5vw;
  border: 2px dashed gray;

  -webkit-box-shadow: 7px 7px 5px 0px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 7px 7px 5px 0px rgba(0, 0, 0, 0.6);
  box-shadow: 7px 7px 5px 0px rgba(0, 0, 0, 0.6);
}

.table__upload:active {
  transform: translate3d(4px, 2px, 0);
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none
}

.notification {
  width: 20vw;
  height: 10vh;
  background: #343247;
  position: absolute;
  bottom: 2vh;
  right: 1vw;
  border-radius: 10px;
  border: 3px solid;
  min-height: 60px;
  min-width: 240px;

  transform: translateX(30vw);
  transition: transform 0.5s ease;
}

.notification--shown {
  transform: translateX(0);
}

.notification--success {
  background-color: #1E8820;
}

.notification--error {
  background-color: #FF4136;
}

.notification--success::before {
  content: " ";
  display: inline-block;
  background-image: url(images/check-mark.svg);
  background-size: 30px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgba(0, 0, 0, 0.25);;
  position: relative;
  left: 0px;
  width: 4vw;
  min-width: 54px;
  height: 10vh;
  min-height: 60px;

  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.notification--error::before {
  content: " ";
  display: inline-block;
  background-image: url(images/error.svg);
  background-size: 30px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgba(0, 0, 0, 0.25);;
  position: relative;
  left: 0px;
  width: 4vw;
  min-width: 54px;
  height: 10vh;
  min-height: 60px;

  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.notification__content {
  box-sizing: border-box;
  display: inline-block;
  position: absolute;
  padding: 2vh 2vw;
  width: 16vw;
  min-width: 185px;
  height: 10vh;
  min-height: 60px;
  text-align: left;
  font-size: 1.2vw;
}

.notification__content div {
  display: inline;
}

.notification__cancel {
  content: "\00D7";
  display: inline-block;
  font-size: 20px;
  position: absolute;
  right: 0.4vw;
  top: 1vh;
  height: 20px;
  width: 20px;
  text-align: center;
  line-height: 2vh;
  z-index: 1;
}

.notification__cancel:hover {
  background-color: #878697;
  border-radius: 3px;
  cursor: pointer;
}

.content a { /* TODO: REMOVE */
  color: #6D6AB4;
}

.modal {
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  z-index: 999;
}

.modal__container {
  font-size: 1.3vw;
  position: relative;
  padding: 10vh 5vw;
  background: rgba(135, 134, 151, 0.6);
  border-radius: 5px;
  -webkit-box-shadow: 8px 8px 5px -5px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 8px 8px 5px -5px rgba(0, 0, 0, 0.6);
  box-shadow: 8px 8px 5px -5px rgba(0, 0, 0, 0.6);
}

.modal__label {
  font-size: 1.5vw;
  position: absolute;
  top: 2vh;
  left: 1.5vw;  
}

.modal__submit {
  position: absolute;
  font-size: 1vw;

  bottom: 2.5vh;
  right: 2vw;
  padding: 0.5vw;
}

.modal__cancel-button {
  display: inline-block;

  position: absolute;
  top: 1.5vh;
  right: 1vw;
  
  font-size: 2vw;
  padding: 0px 11px 1px;
  border-radius: 5px;
  background-color: #878697;
  transition: transform 0.5s ease;
  -webkit-box-shadow: 8px 8px 5px -5px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 8px 8px 5px -5px rgba(0, 0, 0, 0.6);
  box-shadow: 8px 8px 5px -5px rgba(0, 0, 0, 0.6);
}

.modal__cancel-button:active {
  transform: translate3d(2px, 1px, 0);
}